.logo-cont {
    /* background-image: url("..//img/pic16.jpg"); */
    height: 20%;
    width: 350px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    /* border-radius: 50px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%; */
    position: relative;
}

/* .logo-cont > span {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 10px;
    color: rgb(144, 139, 136);
    font-family: 'Bespoke Stencil', sans-serif;
    font-family: 'Sharpie', sans-serif;
} */

/* .logo-cont > span:nth-of-type(2) {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    padding: 10px;
    color: bisque;
    font-family: 'Sharpie', sans-serif;
} */

.logo-text {
    display: flex;
}

.logo-name {
    display: flex;
    /* gap: 10px; */
}

.logo-name > span {
    font-size: 2.5rem;
    color: aliceblue;
    /* position: absolute; */
    text-transform: capitalize;
    font-family: 'Sharpie', sans-serif;
}

.logo-vector > img {
    /* position: absolute;
    right: 1.8rem; */
    transform: translateX(-10px);
}

.logo-text > span {
    position: absolute;
    color: #6ACFC7;
    right: -2.5rem;
    /* top: 5rem; */
    font-size: 2.5rem;
    transform: translateY(30px);
    text-transform: capitalize;
    font-family: 'Sharpie', sans-serif;
}


@media screen and (max-width: 1200px) {
    .logo-name > span {
        font-size: 2rem;
    }

    .logo-text > span {
        right: 0.8rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {

    .logo-img > img {
        width: 40px;
    }

    .logo-name > span {
        font-size: 1rem;
    }

    .logo-vector > img {
        transform: translateX(-9.5px);
        width: 40px;
    }

    .logo-text > span {
        right: 11.5rem;
        font-size: 1rem;
    }
}