.nav-container {
    background: black;
    background-image: url("../../img/pic11.png");
    margin-bottom: 10rem;
}

nav {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 100px;
    padding: 30px;
    /* background: black; */
}

.nav-logo {
    display: flex;
    gap: 100px;
    align-items: center;
}

.links {
    font-family: 'Clash Display', sans-serif;
    list-style: none;
    font-size: 20px;
    line-height: 48.41px;
    height: 50px;
    color: bisque;
    text-transform: capitalize;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 64px;
}

/* .links > ul > li {
    list-style: none;
    font-family: 'Clash Display', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    color: aliceblue;
} */

.links > button {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: bisque;
    width: 187px;
    height: 48px;
    padding: 10px, 20px, 10px, 20px;
    border-radius: 8px;
    border: 2px solid bisque;
    font-family: sans-serif;
}

.links > button:hover {
    background: white;
}

.nav-text {
    margin-top: 70px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-about > span:nth-of-type(1) {
    color: aliceblue;
    font-size: 56px;
    line-height: 67.77px;
    width: 664px;
}

.text-about > span:nth-of-type(2) {
    color: #6ACFC7;
    width: 630px;
    font-size: 20px;
    line-height: 24px;
}

/* .btn2 {
    position: absolute;
    bottom: 120px;
    left: 8px;
} */

/* .btn2 > button {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: bisque;
    width: 187px;
    height: 48px;
    padding: 10px, 20px, 10px, 20px;
    border-radius: 8px;
    border: 2px solid bisque;
    font-family: sans-serif;
}

.btn2 > button:hover {
    background: white;
} */

.nav-text-img > img {
    width: 352px;
    height: 352px;
    border: 1px solid #6ACFC7;
    border-radius: 1000px;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .links {
        display: flex;
        /* flex-direction: column; */
        gap: 10px;
    }

    .nav-text {
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }

    .text-about > span:nth-of-type(1) {
        color: aliceblue;
        font-size: 26px;
        line-height: 67.77px;
        width: 444px;
    }

    .text-about > span:nth-of-type(2) {
        color: #6ACFC7;
        width: 330px;
        font-size: 16px;
        line-height: 24px;
    }

    .nav-text-img > img {
        width: 252px;
        height: 252px;
        border: 1px solid #6ACFC7;
        border-radius: 1000px;
    }

    .links {
        display: none;
    }

    /* .lists > li {
        display: none;
    } */

    .links-mobile {
        display: grid;
    }

    .links-mobile > ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style: none;
        background: #FFFFFF;
        right: 12px;
        top: 15px;
        width: 30%;
        height: 38%;
    }

    .links-mobile > ul >li {
        font-size: 20px;
        padding: 20px;
        
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        color: tomato;
        background: #FFFFFF;
        top: 35px;
        right: 15px;
        cursor: pointer;
        /* z-index: 9; */
        /* width: 58px;
        height: 30px; */
        /* border: none; */
    }
}

@media screen and (max-width: 500px) {

    .nav-text {
        justify-content: center;
        gap: 1px;
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }

    .text-about > span:nth-of-type(1) {
        color: aliceblue;
        font-size: 16px;
        line-height: 27.77px;
        width: 204px;
    }

    .text-about > span:nth-of-type(2) {
        width: 230px;
        font-size: 12px;
    }

    .nav-text-img {
        position: absolute;
        top: 140px;
        right: 30px;
        /* transform: translateY( -26rem); */
    }

    .nav-text-img > img {
        width: 132px;
        height: 132px;
        /* transform: translateX(12rem); */
    }

    .links-mobile > ul {
        width: 30%;
        height: 35%;
        z-index: 9;
    }

    .links-mobile > ul > li {
        font-size: 16px;
        padding: 20px;
        width: 100px;
        /* transform: translateX(-2.5rem); */
    }

    .links > button {
        font-size: 16px;
        width: 127px;
        transform: translateX(-1.5rem);
    }
}