.pop-container {
    background-color: #6ACFC7;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
}

/* .pop-container {
    position: fixed;
} */

.pop-container > span:nth-of-type(1) {
    font-size: 20px;
    color: red;
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.pop-container > span:nth-of-type(2) {
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 8rem; */
    padding-top: 5rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.main > span:nth-of-type(1) {
    font-size: 30px;
    padding-bottom: 1rem;
    color: aliceblue;
    font-weight: 800;
    font-family: 'Cabinet Grotesk', sans-serif;
}

.main > span:nth-of-type(2),
.main > span:nth-of-type(3),
.main > span:nth-of-type(4), 
.main > span:nth-of-type(5) { 
    font-size: 20px;
    color: aliceblue;
}

.message {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
    width: 70%;
    /* height: 8rem; */
    transform: translate(25%, 10%);
    grid-gap: 2rem;
    /* margin: 5rem; */
}

.message > input:nth-child(1),
.message > input:nth-child(2),
.message > input:nth-child(3) {
    height: 3rem;
    border-radius: 10px;
    background: bisque;
}

/* .message > input:nth-child(4) {
    font-size: 16px;
} */

.message > textarea {
    grid-column: span 3;
    height: 8rem;
    border-radius: 10px;
    background: bisque;
}

.message > textarea::placeholder {
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-family: 'Cabinet Grotesk', sans-serif;
    color: black;
}

input::placeholder {
    padding: 10px;
    font-family: 'Cabinet Grotesk', sans-serif;
    color: black;
}

.btn6 {
    position: absolute;
    bottom: -9rem;
    transform: translateX(25rem);
    padding: 10px;
    margin: 10px;
}

.btn6 > button {
    width: 10rem;
    height: 3rem;
    background: tomato;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
    border-radius: 10px;
    border: 1px solid tomato;
}

.btn6 > button:hover {
    background: white;
}

.pop-msg > span {
    color: aliceblue;
    font-size: 16px;
    width: 350px;
    display: flex;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
}

@media screen and (max-width: 1150px) {
    .main {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .message {
        width: 60%;
        transform: translate(20%, 10%);
    }

    .btn6 {
        position: absolute;
        bottom: -8.5rem;
        transform: translateX(10rem);
    }
} 

@media screen and (max-width: 500px) {
    .main {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .pop-container > span:nth-of-type(1) {
        font-size: 30px;
    }

    .main > span:nth-of-type(2),
    .main > span:nth-of-type(3),
    .main > span:nth-of-type(4), 
    .main > span:nth-of-type(5) { 
        font-size: 16px;
        color: aliceblue;
        z-index: 9;
        /* padding: 20px; */
    }

    .message {
        width: 60%;
        display: flex;
        flex-direction: column;
        transform: translate(32%, 10%);
    }

    .message > textarea {
        grid-column: span 3;
        height: 6rem;
        overflow: hidden;
    }

    .btn6 {
        position: absolute;
        bottom: -8rem;
        transform: translateX(3rem);
    }

    .btn6 > button {
        width: 6rem;
        height: 3rem;
        background: tomato;
        font-size: 12px;
    }

    .pop-msg > span {
        color: aliceblue;
        font-size: 10px;
        display: flex;
        width: 150px;
    }
}