.pop2 {
    background: aliceblue;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    grid-gap: 10px;
    padding: 20px;
    transform: translateX(5rem);
}

.pop2 > span:nth-of-type(1) {
    color: red;
    /* transform: translateX(65rem); */
    position: fixed;
    top: 8px;
    right: 8px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Sharpie', sans-serif;
}

.pop-img1 {
    padding: 20px;
}

/* .pop-img2 {
    padding: 20px;
    transform: translateY(-10rem);
} */

@media screen and (max-width: 1200px) {
    .pop2 {
        grid-gap: 4px;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        transform: translateX(2rem);
    }

    .pop-img1 > img {
        padding: 20px;
        width: 155px;
    }

    .pop2 > span:nth-of-type(1) {
        color: red;
        /* transform: translateX(32rem); */
        font-size: 30px;
        position: fixed;
        top: 8px;
        right: 8px;
    }
    
    /* .pop-img2 > img {
        width: 155px;
        transform: translateY();
    } */
}

@media screen and (max-width: 500px) {
    .pop2 {
        grid-gap: 4px;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        transform: translateX(0.2rem);
    }

    .pop-img1 > img {
        padding: 20px;
        width: 155px;
    }

    .pop2 > span:nth-of-type(1) {
        /* transform: translateX(13rem); */
        position: fixed;
        top: 8px;
        right: 8px;
        font-size: 16px;
    }
    
    /* .pop-img2 > img {
        width: 155px;
        transform: translateY();
    } */
}