.pop4 {
    background: rgba(0, 0, 0, .8);
    width: 70%;
    height: 100%;
    margin: 20px;
    grid-gap: 10px;
    padding: 20px;
    transform: translateX(13rem);
    display: flex;
    gap: 2rem;
}

.pop4 > span:nth-of-type(1) {
    color: red;
    /* transform: translateX(58rem); */
    position: fixed;
    top: 8px;
    right: 8px;
    font-size: 30px;
    cursor: pointer;
}

.pop4-img {
    padding: 20px;
}

.pop4-img > video {
    height: 40rem;
}

@media screen and (max-width: 1200px) {
    .pop4 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 20px;
        transform: translateX(4rem);
    }

    .pop4-img > video {
        height: 30rem;
        transform: translateX(5rem);
    }

    .pop4 > span:nth-of-type(1) {
        color: red;
        /* transform: translateX(28rem); */
        font-size: 30px;
        position: fixed;
        top: 8px;
        right: 8px;
        font-family: 'Sharpie', sans-serif;
    }
    
    /* .pop-img2 > img {
        width: 155px;
        transform: translateY();
    } */
}

@media screen and (max-width: 500px) {
    .pop4 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transform: translateX(0.2rem);
    }

    .pop4-img > video {
        height: 15rem;
        transform: translateX(2rem);
    }

    .pop4 > span:nth-of-type(1) {
        /* transform: translateX(12rem);s */
        position: fixed;
        top: 8px;
        right: 8px;
        font-size: 16px;
    }
    
    /* .pop-img2 > img {
        width: 155px;
        transform: translateY();
    } */
}