.columns-dots {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 0.01fr);
    /* transform: translateY(-25%); */
    margin: 10px;
    position: relative;
    /* right: 55px; */
}

.dotss {
    width: 10.46px;
    height: 10.24px;
    border: 1px solid ;
    background: linear-gradient(338.5deg, #6ACFC7 -525.42%, #1431d1 918.63%);
    border-radius: 50px;
    opacity: .3;
}

@media screen and (max-width: 500px) {

    .columns-dots {
        display: grid;
        gap: 5px;
    }

    .dotss {
        width: 8.46px;
        height: 8.24px;
    }
}